extends layouts/login-layout.pug

block content 
  .loginContainer 
    h1 Login 
    form(method="POST")
      input(type = "text", name = "logUsername", placeholder = "Username or Email")
      input(type = "password", name="logPassword", placeholder = "Password")
      input(type="submit", value="Login")
    a(href = "/register") Need an account ?