extends layouts/login-layout.pug

block content 
  .loginContainer 
    h1 Register 
    form(method="POST")
      input(type = "text", name = "firstName", placeholder = "First Name", required="")
      input(type = "text", name = "lastName", placeholder = "Last Name", required="")
      input(type = "text", name = "username", placeholder = "Username", required="")      
      input(type = "email", name = "email", placeholder = "Email", required="")
      input(type = "password", name = "password", placeholder = "Password", required="")
      input(type = "password", name="passwordConf", placeholder = "Password Confirm",  required="")
      input(type="submit", value="Register")
    a(href = "/register") Already have an account ? Login here.